	/*.courses {
		background-color: rgb(234,234,235);
	}*/

	.courses header h1 {
			text-align: center;
			font-size: 28px;
			color: rgb(25,55,75);
			margin-bottom: 0;
			font-weight: 400;
		}

		.courses header p {
			text-align: center;
			font-size: 16px;
			color: rgb(25,55,75);
			margin-bottom: 0;
		}

		.courses header {
			font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Ubuntu", sans-serif;
		}
		

	.course a {
		display: block;
		background: white;
		opacity: 1;
		transition: all 0.3s ease-in-out;
		padding-bottom: 30px;
	}

	.course a:hover {
		background-color: rgb(234,234,235);
		border-radius: 4px;
	}
	

	.course a:hover, .course a:active, .course a:visited, .course a:link {
		text-decoration: none;
	}

	.course {
		text-align: center;
		margin-top: 50px;
		
	}

	.course:hover {
		
	}

	.course-image {
		padding-top: 32px;
	}

	.course-image img {
		height: 128px;
		width: 128px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.course .course-info {
		color: rgb(33,171,199);
		font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Ubuntu", sans-serif;
		margin-top: 20px;
		display: block;
		height: 143px;
	}

	.course .course-info h3 {
		margin: 0;
		font-size: 25px;
    font-weight: 400;
    padding: 0 10px;
    color: rgb(25,55,75);
	}

	.course .course-info h3:hover {
		color: rgb(28,145,168);
	}

	.course .course-info p {
		color: rgb(25,55,75);
    font-size: 16px;
    margin-top: 7px;
    padding: 0 10px;
    font-weight: 400;
    margin-bottom: 0;
	}

	.course .strt-btn {
		/*margin-top: 50px;*/
		position: relative;
    display: inline-block;
    margin-bottom: 0px;
	}

	.course .strt-btn button {
		padding: 9px 60px;
    font-family: "Whitney SSm A", "Whitney SSm B", "Avenir", "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Ubuntu", sans-serif;
    font-size: 18px;
    background: rgb(32,164,191);
    color: white;
    border: 0;
    text-transform: uppercase;
	}

	.course .strt-btn button {
	  display: inline-block;
  vertical-align: middle;
  position: relative;
  transition: all 0.3s;
	}

	/*.course .strt-btn button:before {
	  content: "";
	  position: absolute;
	  transform: translateZ(0);
 		backface-visibility: hidden;
	  width: 100%;
	  height: 100%;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: rgb(69,202,88);
	  -webkit-transform: scaleX(0);
	  transform: scaleX(0);
	  -webkit-transform-origin: 0 50%;
	  transform-origin: 50% 20%;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}*/

	.course .strt-btn button:hover, .course .strt-btn button:focus, .course .strt-btn button:active {
	  background: rgb(28,145,168);
	}

	/*.course .strt-btn .arrow-tail {
		height: 2px;
		width: 40px;
		background: white;
		display: block;
		position: absolute;
		top: 18px;
		left: -40px;
		transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
		opacity: 0;
	}

	.course .strt-btn .arrow-head {
		position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    color: white;
    border-top: 2px solid;
    border-left: 2px solid;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    top: 14px;
    left: -14px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    opacity: 0;
	}

	.course .strt-btn .arrow-head.arrow1 {
		left: 77.5px;
		opacity: 1;
	}

	.course .strt-btn .arrow-tail.arrow2 {
		left: 47px;
		opacity: 1;
	}*/

	.course3 .course-image img {
		border-radius: 50%;
		border: 0.5px solid black;
	}

			
